<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Example Education App</title>
	</head>
	<body>
		<?php
			include('./httpful.phar');

			if ($_POST) {
				$response = \Httpful\Request::post($uri)
			    ->body('<xml><name>'.$_POST['data'].'</name></xml>')
			    ->sendsXml()
			    ->send();
			}

			$response = \Httpful\Request::get("http://backend.example-education.app/data/")->send();
			
			if ($response !== false){
				$response = $response->body->result;
				for ($i=0; $i < count($response); $i++) {
					echo $response[$i];
				}	
			}
		?>
		<form action="index.phtml" method="post">
		    Data:  <input type="text" name="data" /><br />
		    <input type="submit" name="submit" value="Send!" />
		</form>
	</body>
</html>